<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737105987369-5vo5k0v5v7vvv46hds9m8d0m3ar581l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737105987369-5vo5k0v5v7vvv46hds9m8d0m3ar581l3</string>
	<key>API_KEY</key>
	<string>AIzaSyAMf-7JH2AjDoS7Ggai_VKXnJA9Q00dKxY</string>
	<key>GCM_SENDER_ID</key>
	<string>737105987369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled2</string>
	<key>PROJECT_ID</key>
	<string>untitled2-48e5f</string>
	<key>STORAGE_BUCKET</key>
	<string>untitled2-48e5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737105987369:ios:5bbd21673569f3dd301938</string>
</dict>
</plist>